@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Jobs: </h2>
		<a class="btn btn-primary" href="/Jobs" role="button">Jobs</a>
    </div>
    <div class="col-md-6">
        <h2>Configuration: </h2>
	    <a class="btn btn-primary" href="/Configuration" role="button">Configuration</a>
    </div>
</div>
